<div class="card">
  <div class="card-header">
    SUMMARY
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <div class="text-center">
        <small class="text-">Total power (kW)</small>
      </div>
      <div class="row">
        <div class="col text-center">57,50<br><small class="text-muted">min</small></div>
        <div class="col text-center lead"><b>174,14</b><br><small class="text-muted">avg</small></div>
        <div class="col text-center">318,60<br><small class="text-muted">max</small></div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="text-center">
        <small class="text-">Total flow (m³/min)</small>
      </div>
      <div class="row">
        <div class="col text-center">7,86<br><small class="text-muted">min</small></div>
        <div class="col text-center lead"><b>25,06</b><br><small class="text-muted">avg</small></div>
        <div class="col text-center">50,85<br><small class="text-muted">max</small></div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="text-center">
        <small class="text-">Total pressure (barg)</small>
      </div>
      <div class="row">
        <div class="col text-center">5,87<br><small class="text-muted">min</small></div>
        <div class="col text-center lead"><b>6,64</b><br><small class="text-muted">avg</small></div>
        <div class="col text-center">7,14<br><small class="text-muted">max</small></div>
      </div>
    </li>
    <li class="list-group-item pt-0 pb-0">
      <div class="row no-gutters">
        <div class="col-md-1 mt-4">
          <img src="../../../../../../../assets/icons/icon_caems_air_consumption.png" class="card-img">
        </div>
        <div class="col-md-11">
          <div class="card-body">
            <p class="card-text text-center"><b>1.131,97 m³</b><br><small class="text-muted text-center">Annual: 13.196.935,01 m³</small></p>
          </div>
        </div>
      </div>
    </li>
    <li class="list-group-item pt-0 pb-0">
      <div class="row no-gutters">
        <div class="col-md-1 mt-4">
          <img src="../../../../../../../assets/icons/icon_caems_electricity.png" class="card-img ">
        </div>
        <div class="col-md-11">
          <div class="card-body">
            <p class="card-text text-center"><b>131,09 kWh</b><br><small class="text-muted text-center">Annual: 1.528.258,32 kWh</small></p>
          </div>
        </div>
      </div>
    </li>
    <li class="list-group-item pt-0 pb-0">
      <div class="row no-gutters">
        <div class="col-md-1 mt-4">
          <img src="../../../../../../../assets/icons/icon_caems_air_cost.png" class="card-img" >
        </div>
        <div class="col-md-11">
          <div class="card-body">
            <p class="card-text text-center"><b>10,49 EUR</b><br><small class="text-muted text-center">Annual: 122.260,67 EUR</small></p>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>


