<main>
    <div class="row " id="neki" >
        <div class="col-9">
            <div class="card" style="max-height: 400px">
                <div class="card-header ">
                    USAGE                   <fa-icon icon="expand" ></fa-icon>
                </div>
                <div class="card-body no-padding " >
                    <app-specific-power-graph >
                    </app-specific-power-graph>

                </div>
            </div>
        </div>
        <div class="col-3 ">
            <div class="card" >
                <div class="card-header">
                    EFFICIENCY
                </div>
                <div class="card-body no-padding" >
                    <app-score-indicator>
                    </app-score-indicator>
                    <div class="text-center">
                        <small class="text-">Specific power (kWh/m³)</small>
                    </div>
                    <div class="row">
                        <div class="col text-center">0,082<br><small class="text-muted">min</small></div>
                        <div class="col text-center lead"><b>0,110</b><br><small class="text-muted">avg</small></div>
                        <div class="col text-center">0,187<br><small class="text-muted">max</small></div>
                    </div>
                </div>
            </div>
            <br>
            <div class="card " >
                <app-enviromental></app-enviromental>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-9">
            <div class="card">
                <div class="card-header">
                    TREND GRAPH
                </div>
                <div class="card-body no-padding" >
                    <app-trend-graph >
                    </app-trend-graph>
                </div>
            </div>
        </div>
        <div class="col-3" >
            <app-trend></app-trend>
        </div>
    </div>


    <br>
    <div class="card">
        <div class="card-header">
            X-Y GRAPH
        </div>
        <div class="card-body no-padding" style=" max-height: 1000px">
            <app-x-y-graph>
            </app-x-y-graph>
        </div>
    </div>
</main>

