<main>
    <div class="row " id="neki" >
        <div class="col-9">
            <div class="card" >
                <div class="card-header text-white bg-dark">USAGE</div>
                <div class="card-body no-padding " >
                    <app-specific-power-graph >
                    </app-specific-power-graph>

                </div>
            </div>
        </div>
        <div class="col-3 ">
            <div class="card" >
                <div class="card-header text-white bg-dark">
                    EFFICIENCY
                </div>
                <div class="card-body no-padding" >
                    <app-score-indicator>
                    </app-score-indicator>
                    <div class="text-center">
                        <small class="text-">Clicks per 10min</small>
                    </div>
                    <div class="row">
                        <div class="col text-center">120<br><small class="text-muted">min</small></div>
                        <div class="col text-center lead"><b>128.2</b><br><small class="text-muted">avg</small></div>
                        <div class="col text-center">139<br><small class="text-muted">max</small></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header text-white bg-dark">
                    TREND GRAPH
                </div>
                <div class="card-body " >
                    <app-trend-graph >
                    </app-trend-graph>
                </div>
            </div>
        </div>
    </div>
</main>

