.text-center {
    text-align: center;
}


.co {
    background-color: rgba(121, 144, 122, 0.65);
}

.red {
    color: red;
}
.green {
    color: green;
}
.black {
    color: black;
}

.no-padding {
    padding: 0;
}

fa-icon {
    font-size: 2em;
}

.dummy-chart {
    max-height: 100px;
}
.d-flex {
    padding: 0;
}
h5 {
    text-align: center;
}
.blue {
    background-color: lightblue;
}
.white {
    color: white;
}


