<div class="container">

  <nav class="topbar navbar">
    <h2 name="topbar-content" class="ml-3 mb-0">Dashboard</h2>
    <div class="flex-grow-1"></div>
  </nav>

  <main>

      <div class="card">
        <div class="card-header text-white bg-dark">
          TARGET SAVINGS
        </div>
        <div class="card-body">
          <app-chart-dashboard></app-chart-dashboard>
          <div class="row">
            <div class="col-6 ">
              <div class="card-body ">
                <h5 class="card-title">Before installation</h5>
                <p class="card-text">
                <div class="col text-center lead"><b>€ 6.404,00</b><br><small class="text-muted">Annual leakage cost</small></div>
                <div class="col text-center lead"><b>€ 32.020,00</b><br><small class="text-muted">Leakage cost over 5 years</small></div>
              </div>
            </div>
            <div class="col-6 ">
              <div class="card-body ">
                <h5 class="card-title">After installation</h5>
                <p class="card-text">
                <div class="col text-center lead"><b>€ 1.231,00</b><br><small class="text-muted">Annual leakage cost</small></div>
                <div class="col text-center lead"><b>€ 6.155,00</b><br><small class="text-muted">Leakage cost over 5 years</small></div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer ">
          <h5> Your company is saving € 5.173,00 per year which equals 3 ton CO2/year </h5>
        </div>
      </div>

  </main>

</div>
